<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<script>
  function habilitarForm() {
     
      formulario=document.getElementById("opciones")
     // document.getElementById("opciones").style.height = "100px";
      formulario.style.visibility= "visible";
     
      var num=document.getElementById("numE").value
      var element = document.getElementById("mensaje");
      element.innerHTML = "Cadaveres pertenecientes al expediente N°: "+num;
     
    //  formulario.style.height = "100px";
      

  }

</script>
<div class="py-2 text-center">
    <img class="d-block mx-auto mb-2" src="{{url_for('static', filename='img/datar.png')}}" alt="logo" width="200">
    <h2>Datación</h2>
    
</div>
<div class="row height d-flex justify-content-center align-items-center" style="margin-top: 50px;">
  
  <div class="col-md-8">

    <div class="search">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Ingrese N° de Expediente" id="numE">
      <button class="btn btn-primary" onclick="habilitarForm()" type="submit">Buscar</button>
    </div>    
  </div>  
</div>

<div class="row" style="margin-top: 50px;margin-left: 18%; " id="opciones">
 
  <form  id="formMostrarC" ">      
    <table>
      <thead>
         <th>Id</th>
         <th>First Name</th>
   
      </thead>
      {% for data in profiles %}
      <tbody>          
         <td>{{data.nombre}}</td>        
         <td><a href="/delete/{{data.id_c}}" type="button">Delete</a></td>
      </tbody>
      {% endfor%}
   </table>
  </form>
  <div id="mensaje" style="margin-bottom: 20px; font-size: medium;"></div>
    <div class="col-sm-6" style="width:25% ;  " >
      <div class="card">
        <div class="card-body" >
          <h5 class="card-title">Normograma</h5>
          <img src="/static/img/nomograma.jpg"  width="10%">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Nomograma</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="width:25% ;">
      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Core de datos</h5>
            <img src="/static/img/datos.png"  width="10%">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Core de datos</a>
          </div>
        </div>
      </div>
    <div class="col-sm-6" style="width:25% ;">
        
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clustering</h5>
          <img src="/static/img/clustering.png" width="10%">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Clustering</a>
        </div>
      </div>
    </div>
  </div>





{% endblock%}